body{font-family: 'Lucida Grande', sans-serif; 
    color:white; 
    background: black}

h1{font-size: 64px; 
    text-align: center}

h2{font-size: 30px; 
    text-shadow:5px 5px 2px #808080}

p{font-size: 24px; 
    padding-top: 20px}

img{text-align: center;
    display: block; 
    margin-left:auto; 
    margin-right:auto;
    width: 525px}

div{min-height: 150px;
    padding:25px}

div#red{background-color: red; 
        text-align: right}

div#blue{background-color: blue;
        text-align:left}

div#yellow{background-color: yellow;
            text-align: right}
    
div#yellow h2{color:black; 
    text-shadow: 5px 5px 2px #c7e2c7}

div#yellow p{color:black}

div#green{background-color: green; 
    text-align: left}

footer{text-align: right; 
    padding-bottom:10px; 
    padding-right: 10px}
